.ivt-layout {
    height: 100%;
    width: 100%;
}

.form-item {
    height: 50px;
}

.new-customer-button {
    margin-left: 5px;
    margin-right: 5px;
    width: 180px;
}

.edit-customer-details-button {
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
}

.item-span {
    display: block;
    text-align: right;
    white-space: pre-wrap;
}